<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="settings">
      <ion-col size="3">
        <ion-searchbar [(ngModel)]="txtSearch" (ionChange)="changeSearch($event)"></ion-searchbar></ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label>Usuario: </ion-label>
            <ion-select [(ngModel)]="responsable" interface="popover" [compareWith]="compareWith"
              (ionChange)="changeResponsable($event)">
              <ion-select-option value="Todos">Todos</ion-select-option>
              <ion-select-option *ngFor="let u of responsables" value="u.id">{{u.name}} {{u.lastname}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label>Técnico: </ion-label>
            <ion-select [(ngModel)]="tecnico" interface="popover" [compareWith]="compareWith"
              (ionChange)="changeTecnico($event)">
              <ion-select-option value="Todos">Todos</ion-select-option>
              <ion-select-option *ngFor="let t of tecnicos" value="t.id">{{t.name}} {{t.lastname}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      <ion-col size="3">
        <ion-item>
          <ion-label>Prioridad: </ion-label>
          <ion-select [(ngModel)]="prioridad" interface="popover" [compareWith]="compareWith"
            (ionChange)="changePrioridad($event)">
            <ion-select-option value="Todos">Todos</ion-select-option>
            <ion-select-option value="-1">Sin Asignar</ion-select-option>
            <ion-select-option value="0">Muy Baja</ion-select-option>
            <ion-select-option value="1">Baja</ion-select-option>
            <ion-select-option value="2">Media</ion-select-option>
            <ion-select-option value="3">Alta</ion-select-option>
            <ion-select-option value="4">Muy Alta</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      
      <ion-col size="4">
        <ion-item>
          <ion-label>Status: </ion-label>
          <ion-select [(ngModel)]="statusSelected" interface="popover" [compareWith]="compareWith"
            (ionChange)="changeStatus($event)">
            <ion-select-option value="Todos">Todos</ion-select-option>
            <ion-select-option value="0">Creada</ion-select-option>
            <ion-select-option value="1">Prioridad Asignada</ion-select-option>
            <ion-select-option value="2">Técnico Asignado</ion-select-option>
            <ion-select-option value="3">Incidencia Terminada</ion-select-option>
            <ion-select-option value="4">Incidencia Liberada</ion-select-option>
            <ion-select-option value="5">Con Solicitud de Cambio</ion-select-option>
            <ion-select-option value="6">Solicitud de Cambio Aceptada</ion-select-option>
            <ion-select-option value="7">Solicitud de Cambio Rechazada</ion-select-option>
            <ion-select-option value="8">Incidencia Rechazada</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label>Fecha de Inicio: </ion-label>
          <ion-input [(ngModel)]="initialDate" type="date" [max]="finishDate" (ionChange)="changeInitialDate($event)" value="2023-01-01"></ion-input>
        </ion-item>
      </ion-col>       
      <ion-col size="4">
        <ion-item>
          <ion-label>Fecha de Fin: </ion-label>
          <ion-input [(ngModel)]="finishDate" type="date" [min]="initialDate" [max]="today" (ionChange)="changeFinishDate($event)"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row *ngIf="(filteredIncidencias.length==0 && (txtSearch.length>0 || statusSelected!='Todos' || responsable!='Todos' || prioridad!='Todos'))">No se han encontrado resultados con esos filtros.</ion-row>
    <ion-row>
      <ion-col>Edificio - Aula</ion-col>
      <ion-col>Descripción</ion-col>
      <ion-col>Usuario</ion-col>
      <ion-col>Tecnico</ion-col>
      <ion-col>Prioridad</ion-col>
      <ion-col>Status</ion-col>
      <ion-col>Acciones</ion-col>
    </ion-row>
    <ion-row *ngFor="let incidencia of filteredIncidencias">
      <ion-col>{{incidencia.edificio}} - {{incidencia.aula}}</ion-col>
      <ion-col>{{incidencia.description}}</ion-col>
      <ion-col>{{incidencia.user.name}} {{incidencia.user.lastname}}</ion-col>
      <ion-col>{{(incidencia.tecnico!=null) ? incidencia.tecnico.name : 'Sin'}} {{(incidencia.tecnico!=null) ? incidencia.tecnico.lastname : 'Asignar'}}</ion-col>
      <ion-col>{{prioridades.get(incidencia.priority+'')}}</ion-col>
      <ion-col>{{status.get(incidencia.status)}}</ion-col>
      <ion-col>
        <ion-button (click)="view(incidencia)"><ion-icon name="eye"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab *ngIf="loggedUserType>2" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="add()"><ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>