<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>Nombre</ion-col>
      <ion-col>Apellido</ion-col>
      <ion-col>Teléfono</ion-col>
      <ion-col>Correo</ion-col>
      <ion-col>Departamento</ion-col>
      <ion-col>Horario</ion-col>
      <ion-col>Acciones</ion-col>
    </ion-row>
    <ion-row *ngFor="let user of users">
      <ion-col>{{user.name}}</ion-col>
      <ion-col>{{user.lastname}}</ion-col>
      <ion-col>{{user.phone}}</ion-col>
      <ion-col>{{user.email}}</ion-col>
      <ion-col>{{user.department}}</ion-col>
      <ion-col>{{user.entryTime}} - {{user.departureTime}}</ion-col>
      <ion-col>
        <ion-button color="danger" (click)="delete(user.id)"><ion-icon name="trash"></ion-icon></ion-button>
        <ion-button color="warning" (click)="edit(user)"><ion-icon name="create"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="add()"><ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>