<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="settings">
      <ion-col size="4">
        <ion-searchbar [(ngModel)]="txtSearch" (ionChange)="changeSearch($event)"></ion-searchbar></ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-label>Departamento: </ion-label>
          <ion-select [(ngModel)]="department" interface="popover" [compareWith]="compareWith"
            (ionChange)="changeDepartment($event)">
            <ion-select-option value="Todos">Todos</ion-select-option>
            <ion-select-option>Prueba</ion-select-option>
            <ion-select-option>Sistemas</ion-select-option>
            <ion-select-option>Bioquimica</ion-select-option>
            <ion-select-option>Mecánica</ion-select-option>
            <ion-select-option>Ciencias Básicas</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-label>Tipo: </ion-label>
          <ion-select [(ngModel)]="type" interface="popover" [compareWith]="compareWith"
            (ionChange)="changeType($event)">
            <ion-select-option value="-1">Todos</ion-select-option>
            <ion-select-option value="0">Admin</ion-select-option>
            <ion-select-option value="1">Técnico</ion-select-option>
            <ion-select-option value="2">Jefe del Taller</ion-select-option>
            <ion-select-option value="3">Jefe de Departamento</ion-select-option>
            <ion-select-option value="4">Secretaria</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="(filteredUsers.length==0 && (txtSearch.length>0 || department!='Todos' || type>=0))">No se han encontrado resultados con esos filtros.</ion-row>
    <ion-row>
      <ion-col>Nombre</ion-col>
      <ion-col>Apellido</ion-col>
      <ion-col>Teléfono</ion-col>
      <ion-col>Correo</ion-col>
      <ion-col>Departamento</ion-col>
      <ion-col>Horario</ion-col>
      <ion-col>Acciones</ion-col>
    </ion-row>
    <ion-row *ngFor="let user of ((txtSearch.length>0 || department!='Todos' || type>=0)?filteredUsers:users)">
      <ion-col>{{user.name}}</ion-col>
      <ion-col>{{user.lastname}}</ion-col>
      <ion-col>{{user.phone}}</ion-col>
      <ion-col>{{user.email}}</ion-col>
      <ion-col>{{user.department}}</ion-col>
      <ion-col>{{user.entryTime}} - {{user.departureTime}}</ion-col>
      <ion-col>
        <ion-button color="danger" (click)="delete(user.id)"><ion-icon name="trash"></ion-icon></ion-button>
        <ion-button color="warning" (click)="edit(user)"><ion-icon name="create"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="add()"><ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>