<ion-content>
  <ion-card class="card-content login view">
    <div class="container">
      <ion-card-header class="display-flex">
        <img class="logo" src="../../../assets/icon/icon.jpg">
      </ion-card-header>
      <h1 class="title">InciTec</h1>
      <ion-card-content>
        <form [formGroup]="loginForm" autocomplete="off">
          <div align="center">
            <ion-spinner *ngIf="this.loading"></ion-spinner>
          </div>
          <ion-item class="item">
            <input autocomplete="off" class="emailinput" formControlName="email"
              placeholder="Correo">
          </ion-item>
          <ion-item class="item">
            <input autocomplete="off" required type="password" formControlName="password" placeholder="Contraseña"
              clearOnEdit="true">
          </ion-item>
          <ion-button button [disabled]="!loginForm.valid" expand="block" *ngIf="!loading" (click)="signIn()"
            class="login-button">
            Iniciar sesión
          </ion-button>
          <!-- <div class="display-flex info">
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="link">Regístrate</a>
            <a [routerLink]="['/resetp']" class="linkforgot" >¿Olvidaste
              tu contraseña?</a>
          </div> -->
        </form>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>