<ion-app>
  <ion-menu contentId="main-content" swipe-gesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item><ion-button expand="full" (click)="goUsers()">Usuarios</ion-button></ion-item>
        <ion-item><ion-button expand="full" (click)="goInventory()">Inventario</ion-button></ion-item>
        <ion-item><ion-button expand="full" (click)="goKnowledge()">Servicios</ion-button></ion-item>
        <ion-item><ion-button expand="full" (click)="logout()" color="danger">Cerrar Sesión</ion-button></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
